node_modules
.expo/packager-info.json
android/
android/.gradle/6.8/executionHistory/executionHistory.bin
android/.gradle/6.8/executionHistory/executionHistory.lock
android/.gradle/6.8/fileHashes/fileHashes.bin
